@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400;500&family=Cairo:wght@400;500;600;700&family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Quicksand', sans-serif;
  background-image: url(../img/offer-background.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
}

/* body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0, 0.6);
} */

body *{
  z-index: 10;
}
/*start heder*/
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.btn {
  display: inline-block;
  padding: 15px 30px;
  border: none;
  border-radius: 15px;
}
.btn-secondary{
  color: #fff;
  background: #383848 ;
  margin-top: 2rem ;
}

.btn-secondary:hover{
  background-color: #fcb111;
}
#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  background-color: #e7e7e7;

}

#navbar img {
  width: 100px;
  margin-left: 150px;
}

#navbar ul {
  display: flex;
  margin-right: 100px;

}

#navbar ul li a {
  padding: 15px 15px;
  color: rgb(1, 10, 19);
  font-weight: 500;
  font-size: 20px;
}

#navbar ul li a:hover {
  /* border-bottom: solid 2px #ffaa00; */
  background-color: #bebebe;
}
.container {
  max-width: 1100px;
  margin: auto;
}
.about{
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;

}
.about .title {
  text-align: center;
  margin-bottom:5rem;
}
.about h2{
  font-size: 40px;
  color:#757591 ;
  margin-top: 100px;
  margin-bottom: 10px;

}
.primary-text {
  color: #fcb111;
}
.about .title p {
  font-size: 18px;
  color: #bfbebe;
  font-weight: 600;
}
.about-content {
  display: flex;
  justify-content:space-between ;
}
.about .about-content img{
width: 400px;
} 
.about .about-content p{
  color: #bfbebe;
  margin-right: 7rem;
  font-weight: 500;
  line-height: 1.6;
  font-size: 16px;

}


/* Footer Start */
#footer {
  background-color: #2f2f3e;
  text-align: center;
  color: #fff;
  padding: 15px 0;
  font-size: 14px;
  margin-top: 100px;
}
#footer a{
  color: #0499de;
}

/* Footer End */


/* Responsiveness */
/* Medium Screen + Tablet */
@media (max-width: 1000px) {
  #navbar img {
    margin-left: 20px;
  }

  nav ul {
    margin-right: 20px;
  }

  nav ul li a {
    padding: 10px;
  }

  header .content h1 {
    font-size: 28px;
  }

  .about {
    height: auto;
    padding: 4rem 2rem;
  }

  .about .about-content p {
    margin-right: 2rem;
  }

  .about img {
    width: 250px;
  }

  .offers .offers-items img {
    width: 150px;
  }

  .offers .offers-items h3 {
    font-size: 18px;
  }

  .menu .menu-items {
    display: block;
  }

  .contact .contact-content {
    flex-direction: column;
  }

  /* Mobile Devices */
  @media (max-width: 600px) {
    #navbar {
      flex-direction: column;
    }

    #navbar img {
      margin-bottom: 20px;
    }

    header .content h1 {
      font-size: 18px;
    }

    header .content p {
      font-size: 14px;
    }

    .about .about-content {
      flex-direction: column;
    }

    .about .about-content a {
      margin: 2rem 0;
    }

    .about img {
      display: none;
    }

    .offers {
      height: auto;
      padding: 30px 10px;
    }

    .offers .offers-items {
      flex-direction: column;
    }

    .menu .menu-items .menu-item {
      margin: 20px 10px;
    }

    #daytime .daytime-items {
      display: block;
      height: auto;
      padding: 30px 0;
    }

    #daytime .daytime-items .daytime-item {
      margin-top: 20px;
    }

    #contact .contact-info,
    form {
      width: 80%;
    }
  }
}