@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400;500&family=Cairo:wght@400;500;600;700&family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: #f4f2ed;
  font-family: 'Quicksand', sans-serif;
}


/*start heder*/
header {
  height: 30vh;
}

body * {
  z-index: 10;
}

/*start heder*/
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.btn {
  display: inline-block;
  padding: 15px 30px;
  border: none;
  border-radius: 15px;
}


#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  background-color: #e7e7e7;
}

#navbar img {
  width: 100px;
  margin-left: 150px;
}

#navbar ul {
  display: flex;
  margin-right: 100px;

}

#navbar ul li a {
  padding: 15px 15px;
  color: rgb(1, 10, 19);
  font-weight: 500;
  font-size: 20px;
}

#navbar ul li a:hover {
  /* border-bottom: solid 2px #ffaa00; */
  background-color: #bebebe;
}
/* Contact Section start */
.container {
  max-width: 1100px;
  margin: auto;
}


#contact .container {
  max-width: 900px;
}

#contact .contact-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#contact .contact-info {
  width: 50%;
}

#contact .contact-info div {
  margin: 35px 0;
  line-height: 1.7;
}

#contact .contact-info h3 {
  font-size: 28px;
  color: #383848;
  margin-bottom: 10px;
}

#contact .contact-info p {
  color: #9a9a9a;
}

#contact .contact-info p i {
  color: #e4b95b;
  margin-right: 7px;
}

#contact .contact-info a i {
  color: #fff;
  background: #383848;
  padding: 10px;
  font-size: 20px;
  border-radius: 50%;
}

#contact .contact-info a i:hover {
  background-color: #e4b95b;
  color: #0f6fff;
}

form {
  width: 50%;
}

form input,
textarea {
  display: block;
  width: 100%;
  padding: 20px 15px;
  margin: 20px 0;
  border: none;
  background-color: #e3e2dd;
}

form input:focus,
textarea:focus {
  outline: none;
}

form button {
  color: #fff;
}

.primary-text {
  color: #ffc43c;
}

.btn {
  display: inline;
  margin: 10px ;
  padding: 10px 10px;
  border-radius: 10px;
  color: #ffeaea;
  background-color: #ffc43c;
  cursor: pointer;
  font-size: 14px;
}

.btn:hover {
  background: #383848;

}

/* Contact Section End */

/* Footer Start */
#footer {
  background-color: #2f2f3e;
  text-align: center;
  color: #fff;
  padding: 15px 0;
  font-size: 14px;
  margin-top: 60px;
}

#footer a {
  color: #0499de;
}

/* Footer End */

/* Responsiveness */
/* Medium Screen + Tablet */
@media (max-width: 1000px) {
  #navbar img {
    margin-left: 20px;
  }

  nav ul {
    margin-right: 20px;
  }

  nav ul li a {
    padding: 10px;
  }

  header .content h1 {
    font-size: 28px;
  }

  #about {
    height: auto;
    padding: 4rem 2rem;
  }

  #about .about-content p {
    margin-right: 2rem;
  }

  #about img {
    width: 250px;
  }

  #offers .offers-items img {
    width: 150px;
  }

  #offers .offers-items h3 {
    font-size: 18px;
  }

  #menu .menu-items {
    display: block;
  }

  #contact .contact-content {
    flex-direction: column;
  }

  /* Mobile Devices */
  @media (max-width: 600px) {
    #navbar {
      flex-direction: column;
    }

    #navbar img {
      margin-bottom: 20px;
    }

    header .content h1 {
      font-size: 18px;
    }

    header .content p {
      font-size: 14px;
    }

    #about .about-content {
      flex-direction: column;
    }

    #about .about-content a {
      margin: 2rem 0;
    }

    #about img {
      display: none;
    }

    #offers {
      height: auto;
      padding: 30px 10px;
    }

    #offers .offers-items {
      flex-direction: column;
    }

    #menu .menu-items .menu-item {
      margin: 20px 10px;
    }

    #daytime .daytime-items {
      display: block;
      height: auto;
      padding: 30px 0;
    }

    #daytime .daytime-items .daytime-item {
      margin-top: 20px;
    }
    #contact .contact-info,
    form {
      width: 80%;
    }
  }
}